.fundo {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgb(255, 255, 255);
  width: 700px;
  transition: 1s;
  height: 285px;
  border-radius: 5px;
  padding: 10px;
  transition: height 0.7s;
  transition-timing-function: linear;
  opacity: 1;
}

.modal-ativo {
  width: 70%;
  background-color: white;
  max-width: 60%;

  max-height: 90%;
  border-radius: 5px;
  padding: 10px;
  transition: 5s;
  opacity: 1;
  transition-delay: 1s;
}

.modal-vendido {
  background-color: white;
  width: 700px;
  height: 400px;
  max-height: calc(100% * 0.7);
  border-radius: 5px;
  padding: 10px;
  transition: height 0.7s;
}
.div-button-modal {
  display: flex;
  justify-content: right;

  margin-top: -6px;
}
div h3 {
  padding-left: 15px;
  padding-bottom: 8px;
}
.quadra-modal {
  padding-left: 20px;
  display: inline-flex;
  font-weight: 200;
  font-size: 14px;
}
.quadra-modal p {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  padding-right: 5px;
}
.modal-endereco {
  display: flex;
  padding-left: 20px;
  padding-top: 2px;
}
.endereco-item {
  font-size: 12px;
  padding-right: 5px;
}
.fechar {
  border: none;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  font-size: 13px;
  color: black;
}

.lote-item-titulo {
  font-size: 11px;
  color: rgb(100, 100, 100);
  font-weight: 500;
}

.lote-item {
  font-size: 13px;
  color: rgb(45, 45, 45);
  font-weight: 500;
}

.Modal-dados-lote {
  display: grid;
  grid-template-columns: 170px 170px 170px 170px;

  justify-content: left;
  align-items: left;
  padding: 10px 10px;
}

.Modal-dado-lote {
  display: flex;
  flex-direction: column;

  padding: 10px 50px 10px 50px;
  align-items: center;
}
.div-button-modal-apagar {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.final-modal {
  display: flex;
  margin-bottom: 0;
}

.middle-buttons {
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: 550;
  padding: 6px;
  background-color: #232f74;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: 0.2s;
}
.middle-buttons:hover {
  background: #3c4dcb;
  border: solid #000000 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.middle-buttons-vendido {
  opacity: 0;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: 550;
  padding: 6px;
  background-color: #232f74;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: 0.9s;

  pointer-events: none;
}
.end-buttons {
  opacity: 0;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 600;
  padding: 6px;
  background-color: #232f74;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: none;
  pointer-events: none;
  transition: 0.3s;
}

.end-buttons-vendido {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 600;
  padding: 6px;
  background-color: #232f74;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: 1s;
}

.end-buttons-vendido:hover {
  background: #3c4dcb;
  border: solid #000000 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
