ul {
  list-style: none;
}

.nomes-loteamentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  color: rgb(87, 87, 87);
}

.nome-loteamento {
  padding: 80px 50px 20px 0px;
}
