* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navhead {
  background-color: rgba(0, 0, 0, 0.7);
  height: 30px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonnav {
  display: block;
  margin-left: 5px;
  background-color: rgba(150, 150, 150, 0.7);
  border: none;
  padding: 0px 7px;
  border-radius: 2px;
  font-weight: 900;
  font-size: 20px;
  text-decoration-line: underline 10px;
}

.navhead p {
  margin-right: 5px;
  color: aliceblue;
}
img {
  max-width: 70px;
  width: auto;
  height: auto;
}
